<nav class="amber lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="<%= root_path %>" class="brand-logo">
      <i class="material-icons">local_drink</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Usuários", users_path%></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><%= link_to "Usuários", users_path%></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">local_drink</i></a>
  </div>
</nav>
